alias aedit='nano $HOME/.aliases';
alias aupd='source $HOME/.aliases';
alias c='clear';
alias b='cd ..';
alias f='cd -';
alias h='cd $HOME';
alias la='printf "\n";ls -a; printf "\n"';
alias ll='printf "\nHost Name: "; cat /proc/sys/kernel/hostname;
printf "Directory: ";pwd;
ls -a; printf "\n";';
alias g='git clone ';
alias ch='chmod 777 -R ./';
alias paths='echo $PATH | tr ":" "\n" ';
alias rm='sudo rm -r';

